<!-- <!-- <div class="container">
    <form>
        <label for="">Username</label>
        <input class="form-control" #username type="text">
        <label>Password</label>
        <input class="form-control" #pass type="password">
        <button class="btn btn-primary" (click)="login(username.value,pass.value)">Login</button>
    </form>
</div> -->
<!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username...">
        <div class="alert alert-danger" *ngIf="loginForm.get('username').errors && loginForm.get('username').errors.required && loginForm.get('username').touched">
            This field is Required!
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password...">
        <div class="alert alert-danger" *ngIf="loginForm.get('password').errors && loginForm.get('password').errors.required && loginForm.get('password').touched">
            This field is Required!
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-flat m-b-30 m-t-30">Login</button>
    </div>
</form> -->-->